{% extends 'base.html' %}
{% block content %}
    <div class="expense__wrapper">
        <a href="{% url 'create_expense' %}" class="expense__create">Create expense</a>
        <ul class="expense__list">
            {% for ex in expenses %}
                <li class="expense__list-item">
                    <div class="expense__list-card">
                        <h3 class="expense__name"> {{ ex.name }} </h3>
                        <p class="expense__desc">Description: {{ ex.description }} </p>
                        <p class="expense__cost">Price: {{ ex.cost }}</p>
                        <a href="{% url 'update_expense' pk=ex.id %}">Edit</a>
                        <a class="delete__btn" href="{% url 'delete_expense' pk=ex.id %}">Delete</a>
                    </div>
                </li>
            {% endfor %}
        </ul>
    </div>
{% endblock %}